<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #a{
           font-display: bold;
            margin-left: 1200px;
        }
        #d{
            padding:20px;
            background-color:rgb(192, 237, 221);
        }

        #offcanvasLeft{
            color: azure;
            background-color:rgb(224, 179, 193);
            width:250px;

        }
        #body{
            background-image:url('yellow.jpg.png');
        }
        #OFFCANVAS

    </style>
    <script src="https://kit.fontawesome.com/844fd7bfe8.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(197, 232, 220)" >
    <!-- <i class="fa-thin fa-bars"></i> -->
    <div class="container-fluid"  id="d" >

        <div class="row">

            <div class="col "><button  class="btn btn-danger" type="button"  id="a" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft"><i class="fa-sharp fa-solid fa-bars"></i></button>

            </div>

                </div>

                </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasLeftLabel">Me</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <a style="text-decoration: none" href="https://www.myntra.com/?utm_source=myntra_veve_exp&utm_medium=Affiliates&utm_campaign=myntra_veve_exp_20220601_INV303"><h5>Home</h5></a><br>

        <a style="text-decoration: none" href="..."><h5>Uploads</h5></a>
        <a style="text-decoration: none"  href="file.html\csss\bootstrap\caroisal.html"><h5>Logout</h5></a><br>
                <!-- <h5>More</h5> -->

      </div>
    </div>

<div style="height:200px;width:200px;background-color: rgb(197, 217, 235);float:left;margin-left: 300px;" ><a style="text-align: center;text-decoration: none;color:rgb(174, 22, 22);margin-left:60px; ; href="">Add book</a></div>
<div style="height:200px;width:200px;background-color: rgb(175, 190, 202);float:left;margin-left: 200px;" ><a style="text-align: center;text-decoration: none;color:rgb(176, 26, 26);margin-left:60px;" href="">Download Book</a></div>
<!-- <div style="height:200px;width:200px;background-color: rgb(2, 32, 57);float:left;margin-left: 900px;margin-top:-200px;" ><a  href=""></a></div> -->

</body>
</html>